extends layout

block content

  h2 #{author.name}
  p #{author.date_of_birth_formatted} - #{author.date_of_death_formatted} 
  
  div(style='margin-top:20px')

    h4 books
    
    dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p #{author.name} has no books yet.
  p 
    a.btn.btn-danger.mr-2(href=author.url+'/delete') delete 
    |
    a.btn.btn-info(href=author.url+'/update') update   

    
