extends layout

block content
  h2 #{bookinstance.book.title}
  
  p  Imprint: #{bookinstance.imprint}

  p  Status: 
    if bookinstance.status=='Available'
      span.text-success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{bookinstance.status}
    else
      span.text-warning #{bookinstance.status} 
      
  if bookinstance.status!='Available'
    p  Due back: #{bookinstance.due_back_formatted}

  p 
    a.btn.btn-danger.mr-2(href=bookinstance.url+'/delete') delete 
    |
    a.btn.btn-info(href=bookinstance.url+'/update') update 