extends layout

block content
  h1 #{bookinstance.book.title}
  
  p  Imprint: #{bookinstance.imprint}

  p  Status: 
    if bookinstance.status=='Available'
      span.text-success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{bookinstance.status}
    else
      span.text-warning #{bookinstance.status} 
      
  if bookinstance.status!='Available'
    p  Due back: #{bookinstance.due_back_formatted}

  hr
  p 
    a(href=bookinstance.url+'/delete') Delete copy
  p 
    a(href=bookinstance.url+'/update') Update copy