extends layout

block content
  h2 #{book.title}
  
  p  Author: 
    a(href=book.author.url) #{book.author.name}
  p  Summary: #{book.summary}
  p  ISBN: #{book.isbn}
  p  Genre:&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 
  
  div(style='margin-top:20px')
    h4 copies
    
    each val in book_instances
      if val.status=='Available'
        p.text-success Status: #{val.status}
      else if val.status=='Maintenance'
        p.text-danger Status: #{val.status}
      else
        p.text-warning Status: #{val.status} 
      p  Imprint: #{val.imprint}
      if val.status!='Available'
        p  Due back: #{val.due_back}
    
    else
      p There are no copies of this book in the library.

  p
    a.btn.btn-danger.mr-2(href=book.url+'/delete') delete 
    |
    a.btn.btn-info(href=book.url+'/update') update 