extends layout

block content
  h1= banner
  p Welcome to Library Swahili, an online catalog containing books from famous Tanzanian authors.

  if error
    p Error getting dynamic content.
  else
    p Current records in our library:
    ul
      li  Books: !{data.book_count}
      li  Copies: !{data.book_instance_count}
      li  Available Copies: !{data.book_instance_available_count} 
      li  Authors: !{data.author_count}
      li  Genres: !{data.genre_count}

    